﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0 auto; margin-top: 125px;">
    <span style="font-size: xx-large; padding-left: 6%; color: #fff;">Error</span>
    <hr />
    <div style="padding-left: 6%;text-align:left;">
        <div class="outer">
            <img style="margin-left:0px;margin-top:96%;" src="~/images/icon-warning-alert-red.png">
        </div>
        <div class="inner">
            <p>DefaultErrorMessage</p>
            <br />
            <p><b style="font-style: italic !important; text-align: left;">@Html.Raw(@ViewBag.Message)</b></p>
        </div>
    </div>
</div>

