﻿
@{
    ViewBag.Title = "HttpError404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0 auto; margin-top: 125px;">
    <span style="font-size: xx-large; padding-left: 6%; color: #fff;">HttpError404</span>
    <hr />
    <div style="padding-left: 6%;text-align:left;">
        <div class="outer">
            <img style="margin-left:0px;" src="~/Image/icon-failure.png">
        </div>
        <div class="inner">
            <p><b style="font-style: italic !important; text-align: left;"></b></p>
        </div>
    </div>
</div>

