﻿@{
    ViewBag.Title = "Index";
}
<h2>Import excel</h2>
<div class="clear"><br /></div>
<form method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" id="submitbtn" value="Save" />
    
</form>
<div id="textResult"></div>
<div id="iframeloading" style="display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
    <img src="~/images/AnimatedProgressBar.gif" alt="loading" style="top: 50%; position: relative; left: 25%;" />
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $('#submitbtn').click(function () {
            var data = new FormData();
            var files = $("#file").get(0).files;

            if (files.length > 0) { data.append("HelpSectionImages", files[0]); }
            else {
                common.showNotification('warning', 'Please select file to upload.', 'top', 'right');
                return false;
            }

            $("#iframeloading").show();
            $.ajax({
                url: '../Home/SaveFile', type: "POST", processData: false,
                data: data, dataType: 'json',
                contentType: false,
                success: function (response) {
                    $("#iframeloading").hide();
                    $("#textResult").val("File successfuly saving");
                },
                error: function (er) {
                        $("#iframeloading").hide();
                        $("#textResult").val("Something went wrong");
                }

            });
        });
    });
</script>
