﻿@model ReportGenerator.BusinessLogic.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Report";
}

<div class="row">
    <div class="col-md-6">
        <table class="table" id="mytable">
            <tbody>
                <tr>
                    @for (int i = 0; i < Model.AllDates.Count; i++)
                    {
                        if (i == 0)
                        {
                            <th>
                                AcountNumber/Date
                            </th>
                        }
                        <th>
                            @Model.AllDates[i].ToShortDateString();
                        </th>
                    }
                    @foreach (var account in Model.Accounts.Values)
                    {
                    <tr>
                        <td>
                            @account.AccountNumber
                        </td>
                        @for (int i = 0; i < Model.AllDates.Count; i++)
                        {
                            <td id=@Model.AllDates[i].ToShortDateString()@account.AccountNumber></td>
                        }
                    </tr>
                    }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
    $(function () {
        
        @if(Model.AccountsList.Count > 0)
        {
            foreach (var account in Model.AccountsList)
            {
                @:document.getElementById('@account.Date.ToShortDateString()@account.AccountNumber').innerHTML = @account.Count.ToString();
            }
         }
    });
    </script>
